body{
    font-family: 'Century Gothic';
    /* background-color: #f9fbe7; */
}

@font-face {
    font-family: "Avant Garde Gothic";
    src: url(avantgardegothic.woff);
}

/* Login page */

.logo-img{
    margin-bottom: 2rem;
}
.header-text{
    font-family: "Neuton", serif;
    font-weight: 700;
    font-style: normal;
    margin-top: -3rem;
}

.username{
    margin: 0 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.username.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.fname{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.fname.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.lname{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.lname.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.age{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.age.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.gender{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.gender.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.bdate{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.bdate.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.weight{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.weight.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.height{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.height.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.email{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.email.active {
    border: 2px solid #33691e;
    border-radius: 30px;
}

.password{
    margin: -1rem 0 2rem 0;
    border-radius: 30px;
    height: 3rem;
    color: #595959;
    background-color: rgb(238, 238, 238);
}

.password.active{
    border: 2px solid #33691e;
    border-radius: 30px;
}

.row{
    margin: 1rem 0;
}

.btn-google{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 2px solid #33691e;
    background: transparent;
    border-radius: 100px;
    color: black;
    transition: .2s ease;
}

.btn-google:hover{
    color: white;
    background-color: #33691e;
}

.create-btn{
    margin: -1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 2px solid #33691e;
    background: #33691e;
    border-radius: 100px;
    color: white;
    transition: .2s ease;
}

.create-btn:hover{
    cursor: pointer;
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
}

.or-text{
    margin: 1rem auto -1rem auto;
    font-size: 18px;
    font-weight: bold;
}

input[type=text]:not(.browser-default), input[type=password]:not(.browser-default){
    border-bottom: none;
}

input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]){
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-icons{
    background-color: #64dd17;
    padding: 30px 23px;
    border-radius: 100px;
    margin: 0 .5rem;
}

/* Sign Up Structure */
.modal::-webkit-scrollbar{
    width: .5rem;
}

.modal::-webkit-scrollbar-track{
    background: transparent;
}

.modal::-webkit-scrollbar-thumb{
    background: rgba(24, 24, 24, .4);
    border-radius: 5rem;
}

.modal{
    margin: 0;
}

.modal-sheet{
    background-color: transparent;
    box-shadow: none;
    width: auto;
}


.cp1{
    margin: 0 -.7rem;
    border-radius: 20px;
}

.send-btn{
    margin: 1rem;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100px;
    border-radius: 30px;
}

.send-btn:hover{
    background-color: rgba(24, 24, 24, .4);
}

.sign-up-btn{
    color: #33691e;
    text-decoration: underline;
}

.login-bg-img{
    margin-bottom: -1rem;
}

/* Main html css */

.navigation{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
    background: #33691e;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.navigation ul{
    display: flex;
    width: 350px;
}

.navigation ul li{
    position: relative;
    list-style: none;
    /* width: 70px; */
    margin: 0 1.25rem;
    z-index: 1;
}

.navigation ul li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon{
    position: relative;
    display: block;
    line-height: 80px;
    font-size: 2.5em;
    text-align: center;
    transition: .5s;
    color: white;
}

.navigation ul li.active a .icon{
    transform: translateY(-32px);
}

.navigation ul li a .text{
    position: absolute;
    color: white;
    margin: 1rem 0;
    font-weight: 400;
    font: .75em;
    letter-spacing: .05em;
    transition: .5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li.active a .text{
    opacity: 1;
    transform: translateY(10px);
}

.more-btn{
    bottom: -.5rem;
    left: 21.6rem;
}

ul.account-about-btn{
    display: flex;
    flex-direction: column;
    margin: 0 0rem 3rem .4rem;
}

.account-about-btn li{
    height: 70px;
    width: 45px;
}

.indicator{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background-color: #6cb434;
    border-radius: 50%;
    border: 6px solid white;
    transition: .5s;
}

.indicator::before{
    content: '';
    position: absolute;
    top: 50%;
    left: -410px;
    width: 700%;
    height: 20px;
    background: transparent;
    border-top-right-radius: 20px;
    box-shadow: 1px -10px 0 0 white;
}

.indicator::after{
    content: '';
    position: absolute;
    top: 50%;
    right: -410px;
    width: 700%;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 white;
}

.navigation ul li:nth-child(1).active ~ .indicator{
    transform: translateX(calc(70px * 0));
}
.navigation ul li:nth-child(2).active ~ .indicator{
    transform: translateX(calc(70px * 1));
}
.navigation ul li:nth-child(3).active ~ .indicator{
    transform: translateX(calc(70px * 2));
}
.navigation ul li:nth-child(4).active ~ .indicator{
    transform: translateX(calc(70px * 3));
}
.navigation ul li:nth-child(5).active ~ .indicator{
    transform: translateX(calc(70px * 4));
}

/* .nav-bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.tabs .tab a {
    color: #fff;
    transition: .2s linear;
}

.tabs .tab a.active {
    border-bottom: 2px solid #64dd17;
    transform: translateY(-.5rem);
    z-index: 2;
}

.main-nav{
    background: #33691e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px 15px 0 0;
} */

.main-logo{
    width: auto;
    height: 50px;
    margin: .3rem 0;
}

/* Food Log Section*/
.home{
    margin-top: 1rem;
}

.cp-foodlog{
    background-color: #ccff90;
    border: 1px solid #76ff03;
    border-radius: 20px;
}

.main-cs{
    height: 450px;
}

.cs-item{
    margin-top: -5.5rem;
}

.flr-img{
    border: 3px solid #33691e;
    padding: 0;
    border-radius: 50px;
    margin-left: 4.7rem;
    margin-top: -5rem;
    height: 70px;
    width: 70px;
}

.cp-flr{
    background-color: #6cb434;
    border: 3px solid #33691e;
    border-radius: 13px;
    color: white;
    width: 250px;
    margin-left: -2.5rem;
}

/* Main Btn */
.main-tlbtn{
    background-color: #33691e;
}

.tlbtn-icons{
    background-color: #33691e;
}

.tlbtn-icons:focus{
    background-color: #33691e;
}

/* Nutrient Intake */
.nit-h3{
    font-family: "Avant Garde Gothic";
    color: #33691e;
}

.nit-p{
    color: #33691e;
}

/* Macronutrients */
.mn-icons{
    background-color: #6cb434;
    border: 3px solid #33691e;
    border-radius: 50px;
    color: white;
    height: 80px;
    width: 80px;
    margin-top: 8.2rem;
    margin-left: 3.5rem;
    padding: 0;
}

.cs{
    height: 100px;
}

/* Food Log 1 CSS */
.back-btn{
    padding: .8rem;
    display: flex;
    justify-content: left;
    align-items: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    width: 50px;
    height: 50px;
    text-align: center;
    border: 2px solid #33691e;
    background: #33691e;
    border-radius: 100px;
    color: white;
    transition: .2s ease;
}

.back-btn:hover{
    background-color: #64dd17;
}

/* Food Search */
.food-search{
    background-color: #33691e;
    border: 2px solid #64dd17;
    border-radius: 30px;
}

#search{
    border-radius: 30px;
}

/* Food unit and serving */
.btn-unit{
    border-bottom: 2px solid #33691e;
    color: #33691e;
}

.fus-icons{
    border: 3px solid #33691e;
    border-radius: 50px;
    color: #33691e;
    height: 50px;
    width: 50px;
    border-radius: 18px;
    padding: 0;
    transition: .2s linear;
}

.fus-icons:hover{
    background-color: #33691e;
    color: white;
}


.add-btn{
    margin: -1rem 0 1rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    width: 100%;
    height: 50px;
    text-align: center;
    border: 2px solid #33691e;
    background: #33691e;
    border-radius: 100px;
    color: white;
    transition: .2s ease;
}

.add-btn:hover{
    cursor: pointer;
    background-color: #8bc34a;
    border: 1px solid #8bc34a;
}

/* PDRI page */

.pdri-cs{
    margin-bottom: 2rem;
}

.pdri-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem auto;
    font-size: 18px;
    font-weight: bold;
    text-transform: none;
    width: 80%;
    height: 50px;
    text-align: center;
    border: 2px solid #33691e;
    background: #33691e;
    border-radius: 100px;
    color: white;
    transition: .2s ease;
}

.pdri-btn:hover{
    background-color: #64dd17;
}

.pdri-img1{
    margin-top: 60%;
    background-image: url(images/Thinking.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

.swipe-text{
    font-style: italic;
}

.swipe-text-right{
    font-style: italic;
    animation: floatTextRight 4s ease-in-out infinite;
}


@keyframes floatTextRight {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(2.4rem);
    }  
    100%{
        transform: translateX(0);
    }  
}

.swipe-text-down{
    font-style: italic;
    animation: floatTextDown 4s ease-in-out infinite;
}

@keyframes floatTextDown {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-2.4rem);
    }  
    100%{
        transform: translateY(0);
    }  
}

.pdri-img2{
    background-image: url(images/PDRI.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
}

.pdri-img3{
    margin-top: 35%;
    background-image: url(images/Text+Logo.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
}

.pdri-items{
    background-color: transparent;
    height: auto;
}

.pdri-items-long{
    background-color: transparent;
    overflow-y: auto;
    overflow-x: hidden;
    height: auto;
}

.carousel .indicators .indicator-item{
    background-color: grey;
}

.carousel .indicators .indicator-item.active{
    background-color: #33691e;
}

.nu-h6{
    margin-top: -2rem;
    font-size: 15px;
    font-weight: bolder;
    line-height: 40px;
}

.nu-h6p{
    font-size: 14px;
    line-height: 18px;
}

/* More Button*/
/* Sidenav */
.background{
    
}
